[Unit]
Description=Dumper Backup with LCD
After=mnt-source.mount

[Service]
Type=idle
ExecStart=/usr/bin/sudo /usr/bin/python3 /home/pi/dump/linux/dumper/dumper.py lcd
Restart=on-failure

[Install]
WantedBy=multi-user.target
